.country {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 10px; */
  border-color: #f1f5f9;
}

p {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 13px;
  /* padding: 10px; */
}

button {
  background-color: #3b82f6;
  height: 30px;
  width: 120px;
  border-radius: 5px;
}
